@page "/case/{urn:long}/management/action/ntiwarningLetter/{ntiWLId:long}/close"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.Action.NtiWarningLetter.ClosePageModel

@{
    ViewData["Title"] = "Close NTI Warning Letter";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @RouteData.Values["urn"]</span>
                    Close NTI: Warning Letter
                </h1>

                <div class="govuk-warning-text govuk-!-margin-bottom-0">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This action cannot be reopened. Check the details are correct before closing
                    </strong>
                </div>

                <form role="form" method="post" id="add-nti-wl-form" novalidate>

                    <partial name="Components/_RadioList" model="Model.NtiWarningLetterStatus" />

                    <partial name="Components/_TextArea" model="Model.Notes" />

                    <p class="govuk-body">Do you still want to close this NTI: Warning letter action?</p>

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-nti-wl-button">
                            Close NTI: Warning Letter
                        </button>
                        <partial name="_Cancel" />
                    </div>

                </form>
            }

            <script type="application/javascript" nonce="@nonce">
                $(function () {
                    autoResizer();
                });
            </script>

        </div>
    </div>
</div>

