@page "/case/{urn:long}/management/action/financialplan/add"
@model ConcernsCaseWork.Pages.Case.Management.Action.FinancialPlan.AddPageModel;
@using ConcernsCaseWork.Constants
@using ConcernsCaseWork.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@{
    ViewData[ViewDataConstants.Title] = "Add financial plan";
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">Case ID @Model.CaseUrn</span>
                    Financial plan
                </h1>

                <form role="form" method="post" id="add-financial-plan-form" novalidate>

                    <div class="govuk-hint" id="financial-plan-hint">
                        <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Trust%20financial%20plans.aspx" class="govuk-link" rel="noreferrer noopener">
                            SFSO Knowledge: Financial Plan
                        </a>
                    </div>

                    <partial name="Components/_DateTime" model="Model.DatePlanRequested" />

                    <partial name="Components/_TextArea" model="Model.Notes" />

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-financial-plan-button">
                            Save and return to case overview
                        </button>
                        <partial name="_Cancel" />
                    </div>
                </form>
            }

        </div>
    </div>
</div>
