/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import "../../node_modules/govuk-frontend/dist/govuk/index.scss";
@import "../../node_modules/@ministryofjustice/frontend/moj/all.scss";
@import "../../node_modules/accessible-autocomplete";

@import "extra";
@import "autocomplete";

.govuk-header__logotype:last-child {
	height: 30px;
}

.govuk-tag {
	max-width: none;
}

.environment-banner.govuk-tag {
	display: block;
	padding-left: calc((100vw - 1200px) / 2);
}

.govuk-notification-banner {
	margin-top: 30px;
	margin-bottom: 30px;
}

