version: "3.8"
services:
  webapi:
    build:
      context: .
      dockerfile: Dockerfile
    command: /bin/bash -c "./docker-entrypoint.sh dotnet ConcernsCaseWork.dll"
    ports:
      - 80:8080/tcp
    depends_on:
      - db
      - sqlcmd
      - redis
    env_file:
       - .env.development.local
    networks:
      - dev

  db:
    container_name: amsd-casework-sql-server
    image: mcr.microsoft.com/azure-sql-edge:latest@sha256:902628a8be89e35dfb7895ca31d602974c7bafde4d583a0d0873844feb1c42cf
    env_file: .env.database
    ports:
      - 1433:1433
    networks:
      - dev

  sqlcmd:
    image: mcr.microsoft.com/mssql-tools:latest@sha256:62556500522072535cb3df2bb5965333dded9be47000473e9e0f84118e248642
    env_file: .env.database
    command: /etc/docker-entrypoint.sh
    depends_on:
      - db
    stdin_open: true
    volumes:
      - ./script/sqlcmd-docker-entrypoint.sh:/etc/docker-entrypoint.sh
    networks:
      - dev

  redis:
    image: redis:7@sha256:387977b505c656572e08163141edbfe89e6d2434316569a2bbeaae5cfeba388f
    command: redis-server --requirepass password
    ports:
      - 6379:6379
    networks:
      - dev

networks:
  dev:
