@page "/case/{urn:long}/management/action/srma/{srmaId:long}/resolve/{resolution}"
@using ConcernsCaseWork.Constants;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ResolvePageModel

@{
    var nonce = HttpContext.GetNonce();
    ViewData[ViewDataConstants.CancelBackLink] = $"/case/{@RouteData.Values["urn"]}/management/action/srma/{@RouteData.Values["srmaId"]}";
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l">
                    @Model.CloseTextModel.Header
                </h1>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        @Model.CloseTextModel.WarningMessage
                    </strong>
                </div>

                <form method="post" id="resolve-srma-form">

                    <partial name="Components/_Checkbox" model="Model.Confirm" />

                    <partial name="Components/_TextArea" model="Model.Notes" />

                    <p class="govuk-body">@Model.CloseTextModel.ButtonHint</p>

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-srma-button">
                            @Model.CloseTextModel.ButtonText
                        </button>
                        <partial name="_Cancel" />
                    </div>

                </form>
            }

        </div>
    </div>
</div>