@page "/case/{urn:long}/management/action/srma/{srmaId:long}/resolve/{resolution}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ResolvePageModel

@{
    ViewData["Title"] = "Close srma";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

                <h1 class="govuk-heading-l">
                    Close SRMA action
                </h1>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This action cannot be reopened. Check the details are correct, especially dates, before closing.
                    </strong>
                </div>

                <form role="form" method="post" id="resolve-srma-form">

                    <div class="govuk-form-group">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="confirmChk" name="confirmChk" type="checkbox">
                                <label class="govuk-label govuk-checkboxes__label" for="confirmChk">
                                    @Model.ConfirmText
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="govuk-character-count govuk-!-margin-top-6" data-module="govuk-character-count" data-maxlength="2000">
                        <div class="govuk-form-group">
                            <h2 class="govuk-heading-m">Finalise notes (optional)</h2>
                            <div class="govuk-hint">Case owners can record any information they want that feels relevant to the action</div>
                            <textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="srma-notes" name="srma-notes" rows="3" aria-describedby="srma-notes-info">@Model.SRMAModel.Notes</textarea>
                        </div>
                        <div id="srma-notes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                            You can enter up to 2000 characters
                        </div>
                    </div>

                    <p class="govuk-body">Do you still want to close this SRMA action?</p>

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-srma-button">
                            Close SRMA action
                        </button>
                        <partial name="_Cancel" />
                    </div>

                </form>

                <script type="application/javascript" nonce="@nonce">
                    $(function () {

                        let validator = formValidator($("#resolve-srma-form")[0]);

                        validator.addValidator('confirmChk', [{
                            method: function() {
                                let checkbox = $('input[name="confirmChk"]:checked');
                                return checkbox.length > 0;
                            },
                            message: '@Model.ConfirmText'
                        }]);

                        addSRMANotesValidator(validator);

                        autoResizer();
                    });
                </script>
            }

        </div>
    </div>
</div>