@using Microsoft.AspNetCore.Mvc.Localization
@model string

@inject IViewLocalizer _localizer

@if (BackModel.CanRender(Context.Request.Path.Value)) {
	<a href="@Model" class="govuk-back-link">@_localizer["Button:Back"]</a>
}