@page "/case/{urn:long}/management/action/nti/{ntiId:long}/close"
@model ConcernsCaseWork.Pages.Case.Management.Action.Nti.ClosePageModel;
@using ConcernsCaseWork.Constants
@using ConcernsCaseWork.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@{
    ViewData[ViewDataConstants.Title] = "Close NTI";
    ViewData[ViewDataConstants.CancelBackLink] = $"/case/{@Model.CaseUrn}/management/action/nti/{Model.NtiId}";
}

<partial name="_BannerError" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
        {
            <partial name="_Error" />
        }
        else
        {
            <partial name="_ValidationErrors" />

            <h1 class="govuk-heading-l">
                <span class="govuk-caption-m">Case ID @Model.CaseUrn</span>
                Close NTI
            </h1>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    This action cannot be reopened. Check the details are correct before closing
                </strong>
            </div>

            <form method="post" id="close-nti-form" novalidate>

                <partial name="Components/_DateTime" model="Model.DateNTIClosed" />

                <div class="govuk-form-group">
                    <h2 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l">
                            Checklist
                        </label>
                    </h2>

                    <ul>
                        <li class="govuk-!-margin-top-6">
                            <span class="govuk-caption-m">Has the closure letter been sent to the trust?</span>
                        </li>
                        <li class="govuk-!-margin-top-6">
                            <span class="govuk-caption-m">Has the closure been published to GOV.UK?</span>
                        </li>
                    </ul>
                </div>

                <partial name="Components/_TextArea" model="Model.Notes" />

                <p class="govuk-body">Do you still want to close this NTI: Notice to Improve?</p>

                <div class="govuk-button-group">
                    <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="close-nti-button">
                        Close NTI: Notice to improve
                    </button>
                    <partial name="_Cancel" />
                </div>
            </form>
        }

    </div>
</div>