@page "/access-denied"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Microsoft.Identity.Web.UI.Areas.MicrosoftIdentity.Pages.Account.AccessDeniedModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Access denied";
    const string serviceDeskRequestLink = "https://forms.office.com/Pages/ResponsePage.aspx?id=yXfS-grGoU2187O4s0qC-X7F89QcWu5CjlJXwF0TVktUNVlZRUoxTlpPNDgxSVhSTjVHRDhXMFQzRSQlQCN0PWcu";
}
<div class="govuk-width-container">
	
	<partial name="_BannerError"/>
	
	<div class="moj-search govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">You do not have access to this service</h1>
			<p class="govuk-body">If you think you need access, <a href="@serviceDeskRequestLink" class="govuk-link">submit an access request</a>.</p>			
		</div>
	</div>
</div>
