@page
@{
	ViewData["Title"] = "Accessibility";
}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds-from-desktop">

		<h1 class="govuk-heading-l govuk-!-margin-bottom-9">Accessibility on Concerns casework</h1>

		<p class="govuk-body">Concerns casework service is run by the Service Design and Delivery team at the Department for Education (DfE).</p>
		<p class="govuk-body">We’re committed to enabling you to use this service. It’s designed so that you can:</p>
		<ul class="govuk-list govuk-list--bullet">
			<li>change colours, contrast levels and fonts</li>
			<li>zoom in up to 300% without the text spilling off the screen</li>
			<li>navigate most of the service using just a keyboard</li>
			<li>navigate most of the service using speech recognition software</li>
			<li>listen to most of the content on the service using a screen reader</li>
		</ul>
		<p class="govuk-body">We also endeavour to make text easy to read.</p>
		<p class="govuk-body govuk-!-margin-bottom-7">
			<a target="_blank" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">Visit AbilityNet for advice on making your device easier to use</a>
		</p>

		<h2 class="govuk-heading-m">Accessibility standards</h2>

		<p class="govuk-body">We’re committed to making Register trainee teachers accessible in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
		<p class="govuk-body">This service was built following GOV.UK design guidelines, which meet the <a target="_blank" href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines (WCAG) 2.1 (level AA)</a>.</p>
		<p class="govuk-body govuk-!-margin-bottom-7">We’ll carry out an accessibility audit to ensure the service fully meets this standard, and will update this page accordingly.</p>

		<h2 class="govuk-heading-m">Get in touch</h2>

		<p class="govuk-body govuk-!-margin-bottom-7">If we’re not meeting your access needs or you have any concerns, email us at <a class="govuk-link" href="mailto:sddservicessupport@education.gov.uk?subject=Accessibility%20issues%20">sddservicessupport@education.gov.uk</a>.</p>

		<h2 class="govuk-heading-m">How accessibility regulations are enforced</h2>

		<p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
		<p class="govuk-body govuk-!-margin-bottom-7">
			<a target="_blank" href="https://www.equalityadvisoryservice.com/" class="govuk-link">Contact the Equality Advisory and Support Service (EASS) if you make a complaint and are not happy with how we respond</a>
		</p>

		<hr class="govuk-section-break govuk-section-break--m">

		<p class="govuk-body">This accessibility statement was last updated on 20 February 2021.</p>

	</div>
</div>