@page
@model AccessibilityPageModel
@{
    ViewData["Title"] = "Accessibility";
}
@section BeforeMain {
    <div class="govuk-width-container">
        <back-link url="@Model.BackLink.Url" label="@Model.BackLink.Label"></back-link>
    </div>
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

            <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Accessibility on Record concerns and support for trusts</h1>

            <p class="govuk-body">This accessibility statement applies to Record concerns and support for trusts.</p>
            <p class="govuk-body">This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts</li>
                <li>zoom in up to 300% without the text spilling off the screen</li>
                <li>navigate most of the service using just a keyboard</li>
                <li>navigate most of the service using speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
            <p class="govuk-body govuk-!-margin-bottom-7">
                <a target="_blank" href="https://mcmw.abilitynet.org.uk/" class="govuk-link">AbilityNet</a>
                has advice on making your device easier to use if you have a disability.
            </p>

            <h2 class="govuk-heading-m">Feedback and contact information</h2>
            <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>email <a class="govuk-link" href="mailto:regionalservices.rg@education.gov.uk">regionalservices.rg@education.gov.uk</a></li>
            </ul>
            <p class="govuk-body">We’ll consider your request and get back to you in 2 working days.</p>

            <h2 class="govuk-heading-m">Reporting accessibility problems with this website</h2>
            <p class="govuk-body">We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we’re not meeting accessibility requirements, email us at: </p>
            <p class="govuk-body"><a class="govuk-link" href="mailto:regionalservices.rg@education.gov.uk?subject=Accessibility%20issues%20">regionalservices.rg@education.gov.uk</a></p>

            <h2 class="govuk-heading-m">Enforcement Procedure</h2>
            <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a target="_blank" href="https://www.equalityadvisoryservice.com/" class="govuk-link">Contact the Equality Advisory and Support Service (EASS)</a></p>

            <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
            <p class="govuk-body">The Department for Education is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
            
            <h2 class="govuk-heading-m">Compliance status</h2>
            <p class="govuk-body">This website is fully compliant with the Web Content Accessibility Guidelines (WCAG) version 2.1 AA standard.</p>

            <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
            <p class="govuk-body">This statement was prepared on 03 February 2023. It was last reviewed on 06 February 2023.</p>
            <p class="govuk-body">This website was last tested on 26 October 2022. The test was carried out by a Senior Accessibility Advisor at the Department for Education.</p>
            <p class="govuk-body">They tested all the pages that had been built on the website at the time of the audit.</p>
        </div>
    </div>
</div>