@page
@model ConcernsCaseWork.Pages.AdminModel

@{
	ViewData["Title"] = "Admin";
}

<div class="govuk-width-container">
	<h1 class="govuk-heading-m">Welcome Administrator</h1>
	<p>Add more information...</p>
</div>