@page
@using ConcernsCaseWork.Pages.Partials
@model ConcernsCaseWork.Pages.AdminModel

@{
	ViewData["Title"] = "Admin";
}

<partial name="Partials/Back" model="BackModel.BrowserBackPage"/>

<div class="govuk-width-container">
	<h1 class="govuk-heading-m">Welcome Administrator</h1>
	<p>Add more information...</p>
</div>