@page
@model ConcernsCaseWork.Pages.ErrorPageModel
@{
    ViewData["Title"] = "Error";
}

<div class="govuk-width-container">
	<h1 class="text-danger">Sorry, there is a problem with the service</h1>
	<p class="govuk-body">Try again later.</p>
	<p class="govuk-body text-danger">An error occurred while processing your request.</p>

	@if (Model.ShowRequestId)
	{
		<p>
			<strong>Request ID:</strong> <code>@Model.RequestId</code>
		</p>
	}
</div>
