@page
@using ConcernsCaseWork.API.Contracts.Configuration;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.HomePageModel
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-extra-width-container">
    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_BannerError" />
        <partial name="_Error" />
    }
    else
    {
        <div class="govuk-!-margin-top-0">
            <div class="govuk-tabs govuk-!-margin-top-6">
                <nav class="moj-sub-navigation" aria-label="Sub navigation">

                    <ul class="moj-sub-navigation__list">
                        <li class="moj-sub-navigation__item">
                            <a id="your-cases-tab" data-testid="your-cases-tab" class="moj-sub-navigation__link" aria-expanded="true" aria-current="page" href="/Home"><span aria-hidden="false"></span>Your cases</a>
                        </li>

                        <li class="moj-sub-navigation__item">
                            <a id="team-casework-tab" data-testid="team-casework-tab" class="moj-sub-navigation__link" aria-expanded="false" href="/TeamCasework"><span aria-hidden="true"></span>Other cases</a>
                        </li>
                    </ul>
                </nav>

                <div class="govuk-tabs__panel" id="your-casework">
                    <div class="govuk-button-group concerns-align-buttons-right-in-govuk-button-group">
                        <a class="govuk-button" asp-page="/case/createCase/selectTrust" role="button" data-testid="create-case-button">
                            Create a case
                        </a>
                        <a class="govuk-button govuk-button--secondary" asp-page="/trust/index" role="button">
                            Find a trust
                        </a>
                        <a class="govuk-button govuk-button--secondary" asp-page="/case/closed" role="button">
                            Your closed cases
                        </a>
                    </div>

                    <!-- Active casework -->
                    <partial name="_CasesActive" model="Model.ActiveCases" />

                    <partial name="_Pagination" model="Model.Pagination" />
                </div>
            </div>
        </div>
    }
</div>






