@page
@model ConcernsCaseWork.Pages.HomePageModel

@{
	ViewData["Title"] = "Home";
}

<div class="govuk-extra-width-container">
	<div class="govuk-!-margin-top-0">
		<div class="govuk-tabs govuk-!-margin-top-6" data-module="govuk-tabs">
			<ul class="govuk-tabs__list">
				<li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
					<a class="govuk-tabs__tab" href="#your-casework">
						Your Casework
					</a>
				</li>
				<li class="govuk-tabs__list-item">
					<a class="govuk-tabs__tab" href="#team-casework">
						Team Casework
					</a>
				</li>
			</ul>
			<div class="govuk-tabs__panel" id="your-casework">
				<partial name="_Home" model="Model" />
			</div>
			<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="team-casework">
				<partial name="_CasesTeamActive" model="Model.CasesTeamActive" />
			</div>
		</div>
	</div>
</div>