@page
@using ConcernsCaseWork.API.Contracts.Configuration;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.HomePageModel
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-extra-width-container">
    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_BannerError" />
        <partial name="_Error" />
    }
    else
    {
        <div class="govuk-!-margin-top-0">
            <div class="govuk-tabs">
                <nav class="moj-sub-navigation" aria-label="Sub navigation">

                    <ul class="moj-sub-navigation__list">
                        <li class="moj-sub-navigation__item">
                            <a data-testid="create-or-view-case-tab" class="moj-sub-navigation__link" aria-current="page" href="/"><span aria-hidden="false"></span>Create or view a case</a>
                        </li>

                        <li class="moj-sub-navigation__item">
                            <a data-testid="closed-cases-tab" class="moj-sub-navigation__link" href="/case/closed"><span aria-hidden="true"></span>Closed cases</a>
                        </li>
                    </ul>
                </nav>

                <div class="govuk-tabs__panel" id="your-casework">
                    <div class="govuk-button-group">
                        <a class="govuk-button" asp-page="/case/createCase/selectTrust" role="button" data-testid="create-case-button">
                            Create a case
                        </a>
                    </div>

                    <!-- Active casework -->
                    <partial name="_CasesActive" model="Model.ActiveCases" />

                    <partial name="_Pagination" model="Model.Pagination" />
                </div>
            </div>
        </div>
    }
</div>






