@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.HomePageModel

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-extra-width-container">
    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_BannerError" />
        <partial name="_Error" />
    }
    else
    {
        <div class="govuk-!-margin-top-0">
            <div class="govuk-tabs govuk-!-margin-top-6">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" asp-page="/Home" role="button">
                            Your casework
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" asp-page="/TeamCasework" role="button" data-testid="team-casework-tab">
                            Team casework
                        </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel" id="your-casework">
                    <div class="govuk-button-group concerns-align-buttons-right-in-govuk-button-group">
                        <a class="govuk-button" asp-page="/case/index" role="button" data-testid="create-case-button">
                            Create case
                        </a>
                        <a class="govuk-button govuk-button--secondary" asp-page="/trust/index" role="button">
                            Find trust
                        </a>
                        <a class="govuk-button govuk-button--secondary" asp-page="/case/closed" role="button">
                            Your closed cases
                        </a>
                    </div>

                    <!-- Active casework -->
                    <partial name="_CasesActive" model="Model.ActiveCases" />
                </div>
            </div>
        </div>
    }
</div>






