@page
@using ConcernsCaseWork.API.Contracts.Configuration;
@using ConcernsCaseWork.Enums
@using ConcernsCaseWork.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.HomePageModel
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@{
    ViewData["Title"] = "Create or view a case";
    ViewBag.LayoutModel = new LayoutModel()
            {
                YourCasesTabActive = true
            };
}

@section BeforeMain 
{
    <partial name="_YourCasesNavigation" model="PageNames.Home" />
}

<div class="govuk-extra-width-container">
    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_BannerError" />
        <partial name="_Error" />
    }
    else
    {
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                Create or view a case
            </h1>
        </legend>

        <div class="govuk-button-group">
            <a class="govuk-button" asp-page="/case/createCase/selectTrust" role="button" data-testid="create-case-button">
                Create a case
            </a>
        </div>

        <!-- Active casework -->
        <partial name="_CasesActive" model="Model.ActiveCases" />

        <partial name="_Pagination" model="Model.Pagination" />

    }
</div>






