@page
@using ConcernsCaseWork.API.Contracts.Configuration;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.HomePageModel
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-extra-width-container">
    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_BannerError" />
        <partial name="_Error" />
    }
    else
    {
        <div class="govuk-!-margin-top-0">
            <div class="govuk-tabs govuk-!-margin-top-6">
                <ul class="govuk-tabs__list">
                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                        <a class="govuk-tabs__tab" asp-page="/Home" role="button">
                            Your casework
                        </a>
                    </li>
                    <li class="govuk-tabs__list-item">
                        <a class="govuk-tabs__tab" asp-page="/TeamCasework" role="button" data-testid="team-casework-tab">
                            Team casework
                        </a>
                    </li>
                </ul>

                <div class="govuk-tabs__panel" id="your-casework">
                    <div class="govuk-button-group concerns-align-buttons-right-in-govuk-button-group">
                        <feature name="@FeatureFlags.IsNonConcernsPageEnabled">
                            <a class="govuk-button" asp-page="/case/createCase/selectTrust" role="button" data-testid="create-case-button">
                                Create case
                            </a>
                        </feature>
                        <feature name="@FeatureFlags.IsNonConcernsPageEnabled" negate="true">
                            <a class="govuk-button" asp-page="/case/index" role="button" data-testid="create-case-button">
                                Create case
                            </a>
                        </feature>

                        <a class="govuk-button govuk-button--secondary" asp-page="/trust/index" role="button">
                            Find trust
                        </a>
                        <a class="govuk-button govuk-button--secondary" asp-page="/case/closed" role="button">
                            Your closed cases
                        </a>
                    </div>

                    <!-- Active casework -->
                    <partial name="_CasesActive" model="Model.ActiveCases" />

                    @if (Model.Pagination != null)
                    {
                        <nav class="govuk-pagination" role="navigation" aria-label="results">
                            @if (Model.Pagination.HasPrevious)
                            {
                                <div class="govuk-pagination__prev">
                                    <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                            <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                                        </svg>
                                        <span class="govuk-pagination__link-title">Previous</span>
                                    </a>
                                </div>
                            }

                            <ul class="govuk-pagination__list">

                                @for (var pageIdx = 0; pageIdx < Model.Pagination.TotalPageCount; pageIdx++)
                                {
                                    var pageNumber = pageIdx + 1;

                                    <li class="govuk-pagination__item">
                                        <a class="govuk-link govuk-pagination__link" asp-page="Home" asp-route-pageNumber="@pageNumber" aria-label="Page @pageNumber">
                                            @pageNumber
                                        </a>
                                    </li>
                                }

                            </ul>

                            @if (Model.Pagination.HasNext)
                            {
                                <div class="govuk-pagination__next">
                                    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                                        <span class="govuk-pagination__link-title">Next</span>
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                            <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                        </svg>
                                    </a>
                                </div>
                            }
                        </nav>
                    }
                </div>
            </div>
        </div>
    }
</div>






