@page
@model ConcernsCaseWork.Pages.LogoutPageModel

@{
	ViewData["Title"] = "Logout";
}

<div class="govuk-width-container">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<h1 class="govuk-heading-l">@TempData["Message.UserName"]</h1>
			<h3 class="govuk-heading-m">You have sign out from your DfE account</h3>
		</div>
		<div class="govuk-grid-column-full">
			<a asp-page="Login" class="govuk-button govuk-button--primary">Login</a>
		</div>
	</div>
</div>
