@page
@using ConcernsCaseWork.Pages.Partials
@{
	ViewData["Title"] = "No such page";
}

<div class="govuk-width-container">
	<partial name="Partials/Back" model="BackModel.BrowserBackPage"/>
	<h1>404 Not found</h1>
	<p>No such page exists at this location.</p>
</div>