@page "/TeamCasework"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.TeamCaseworkPageModel

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-extra-width-container">
    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_BannerError" />
        <partial name="_Error" />
    }
    else
    {
        <div class="govuk-!-margin-top-0">
            <div class="govuk-tabs govuk-!-margin-top-6">
                <nav class="moj-sub-navigation" aria-label="Sub navigation">

                    <ul class="moj-sub-navigation__list">
                        <li class="moj-sub-navigation__item">
                            <a id="your-cases-tab" data-testid="your-cases-tab" class="moj-sub-navigation__link" aria-expanded="false" href="/Home"><span aria-hidden="true"></span>Your cases</a>
                        </li>

                        <li class="moj-sub-navigation__item">
                            <a id="team-casework-tab" data-testid="team-casework-tab" class="moj-sub-navigation__link" aria-expanded="true" aria-current="page" href="/TeamCasework"><span aria-hidden="false"></span>Other cases</a>
                        </li>
                    </ul>
                </nav>

	            <div class="govuk-tabs__panel" id="team-casework">
                    <div class="govuk-button-group flexalign__right">
                        <a class="govuk-button govuk-button--secondary" asp-page="/team/selectColleagues" role="button" data-testid="select-colleagues">
                            Select case owners
                        </a>
                    </div>
                    <!-- Team casework -->
                    <partial name="_CasesTeamActive" model="Model.ActiveTeamCases" />
                    <partial name="_Pagination" model="Model.Pagination" />

                </div>
            </div>
        </div>
    }
</div>






