@page "/TeamCasework"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.TeamCaseworkPageModel

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-extra-width-container">
    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_BannerError" />
        <partial name="_Error" />
    }
    else
    {
        <div class="govuk-!-margin-top-0">

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Cases owned by others
                </h1>
            </legend>


            <div class="govuk-button-group">
                <a class="govuk-button govuk-button--secondary" asp-page="/team/selectColleagues" role="button" data-testid="select-colleagues">
                    Select case owners
                </a>
            </div>
            <!-- Team casework -->
            <partial name="_CasesTeamActive" model="Model.ActiveTeamCases" />
            <partial name="_Pagination" model="Model.Pagination" />

        </div>
    }
</div>






