@page "/case/create/nonconcerns"
@model CreateNonConcernsCasePageModel

@{
	ViewData["Title"] = "Add to Case";
	ViewData["BackButtonLink"] = "/";
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>

	@if (Model.SelectedActionOrDecision == CreateNonConcernsCasePageModel.Options.None )
	{
		<partial name="_SelectActionOrDecision"/>
	}
	@if (Model.SelectedActionOrDecision == CreateNonConcernsCasePageModel.Options.Action )
	{
		<partial name="_SelectAction"/>
	}

</div>


