@page "/case/create/nonconcerns/{handler?}"
@model CreateCasePageModel

@{
	ViewData["Title"] = "New Case";
	ViewData["BackButtonLink"] = "/";
	var currentStep = TempData?[nameof(Model.CurrentStep)]?.ToString() ?? "0";
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>

	@if (currentStep != "2" )
	{
		<partial name=""/>
	}
	@if (currentStep == "2")
	{
		<partial name=""/>
	}

</div>


