@page "/case/create/nonconcerns/details"
@using NetEscapades.AspNetCore.SecurityHeaders;
@model ConcernsCaseWork.Pages.Case.CreateCase.NonConcernsCase.DetailsPageModel
@{
    ViewData["Title"] = "New Case Details";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_Error" />
    }
    else
    {
        <partial name="_ValidationErrors" />

        <span class="govuk-caption-l">Create case</span>
        <h1 class="govuk-heading-l">Case details</h1>

        <!-- Trust summary and records -->
        <dl class="govuk-summary-list">
            <partial name="_TrustSummary" model="Model.TrustDetailsModel" />
            <partial name="_TerritorySummary" model="Model.CreateCaseModel.Territory" />
        </dl>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <!-- FORM -->
                <form role="form" method="post" id="case-details-form" novalidate>

                    <!-- Q Case History -->
                    <partial name="Components/_TextArea" model="Model.CaseHistory" />

                    <div class="govuk-button-group">
                        <button id="create-case-button" data-testid="create-case-button" data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button">
                            Create case
                        </button>
                        <a data-prevent-double-click="true" class="govuk-link" asp-page="../home" data-module="govuk-button" role="button">
                            Cancel
                        </a>
                    </div>

                </form>
            </div>
        </div>
        <script type="application/javascript" nonce="@nonce">
            $(function () {
                var submitButton = $('#create-case-button')[0];
                disableOnSubmit(submitButton);
            });
        </script>
    }
</div>
