@page "/case/concern/add/{handler?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.Case.Concern.AddPageModel

@{
	ViewData["Title"] = "Add Case Concern";
}

<div class="govuk-width-container">
<partial name="_BannerError"/>
	
<span class="govuk-caption-l">Create case</span>
<h1 class="govuk-heading-l">Concerns </h1>

@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
{
	<partial name="_Error" />
}
else
{
	<!-- Trust summary and records -->
	<dl class="govuk-summary-list">
		<partial name="_TrustSummary" model="Model.TrustDetailsModel"/>
		<partial name="_RecordsSummary" model="Model.CreateRecordsModel"/>
	</dl>

	<div class="govuk-button-group">
		<a data-prevent-double-click="true" asp-page="../rating" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button">
			Next step
		</a>
		<a data-prevent-double-click="true" asp-page="index" class="govuk-button govuk-button--secondary" data-module="govuk-button" role="button">
			Add another concern
		</a>
		<a data-prevent-double-click="true" asp-page-handler="Cancel" class="govuk-link" data-module="govuk-button" role="button">
			Cancel
		</a>
	</div>
}
</div>