@page "/admin/user/{username}/edit_role"
@model ConcernsCaseWork.Pages.Admin.EditRolePageModel

@{
	ViewData["Title"] = "Edit Role";
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
			Edit user role
			
			
		</div>
	</div>
</div>