@page "/case/{caseUrn:long}/management/action/srma/{srmaId:long}/notes"
@using ConcernsCaseWork.Constants;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model EditNotesPageModel

@{
    ViewData["Title"] = "SRMA Notes";
    ViewData["CancelButtonLabel"] = "Cancel and return to SRMA"; // label used for _Cancel partial view
    ViewData[ViewDataConstants.CancelBackLink] = $"/case/{@RouteData.Values["caseUrn"]}/management/action/srma/{@RouteData.Values["srmaId"]}";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l">
                    <span class="govuk-caption-m">SRMA</span>
                    Notes (optional)
                </h1>
                <div class="govuk-hint">Case owners can record any information they want that feels relevant to the action</div>

                <form role="form" method="post" id="edit-notes-form" novalidate>

                    <partial name="Components/_TextArea" model="Model.Notes" />

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-srma-button">
                            Save and return to SRMA
                        </button>
                        <partial name="_Cancel" />
                    </div>

                </form>

                <script type="application/javascript" nonce="@nonce">
                    $(function () {
                        let validator = formValidator($("#edit-notes-form")[0]);
                        autoResizer();
                    });
                </script>
            }

        </div>
    </div>
</div>
