@page "/trust/{id:long}/overview"
@using ConcernsCaseWork.API.Contracts.Configuration;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Trust.OverviewPageModel
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore

@{
    ViewData["Title"] = "Trust Overview";
    var nonce = HttpContext.GetNonce();
}

<div class="dfe-width-container">
    <h1 class="govuk-heading-l">
        <span class="govuk-caption-m">Trust Overview</span>
        @Model.TrustOverviewModel.TrustDetailsModel.GiasData.GroupNameTitle
    </h1>
    <partial name="_TrustOverview" model="@Model.TrustOverviewModel" />
</div>
