@page "/case/{urn:long}/management/closure"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.ClosurePageModel

@{
    ViewData["Title"] = "Case closure";
    var nonce = HttpContext.GetNonce();
    var backLink = $"/case/{Model.CaseId}/management";
}
@section BeforeMain {
    <div class="govuk-width-container">
        <back-link url="@backLink"></back-link>
    </div>
}

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l"> Close case @Model.CaseId</h1>
                <h2 class="govuk-heading-s">@Model.TrustDetailsModel.GiasData.GroupNameTitle</h2>

                <form role="form" asp-page-handler="closeCase" method="post" id="close-case-form" novalidate>

                    <partial name="Components/_TextArea" model="Model.RationaleForClosure" />

                    <!--Close case-->
                    <button data-prevent-double-click="true" class="govuk-button" id="close-case-button" data-module="govuk-button">
                        Close case
                    </button>

                </form>
            }
        </div>
    </div>
</div>