@page "/case/{urn:long}/management/closure"
@model ConcernsCaseWork.Pages.Case.Management.ClosurePageModel

@{
	ViewData["Title"] = "Case closure";
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
			@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
			{
				<partial name="_Error"/>
			}
			else if (!string.IsNullOrEmpty((string)TempData.Peek("OpenConcerns.Message"))) 
			{
				<div class="govuk-heading-l moj-banner__message">
					<p class="govuk-body">@TempData["OpenConcerns.Message"]</p>
				</div>
			}
			else
			{
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

				<h1 class="govuk-heading-l"> Close case @Model.CaseModel.Urn </h1>
				<h2 class="govuk-heading-s">@Model.TrustDetailsModel.GiasData.GroupNameTitle</h2>

				<form role="form" asp-page-handler="closeCase" method="post" id="close-case-form" novalidate>

					<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">

						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="case-outcomes">
								Case outcomes
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="case-outcomes" name="case-outcomes" rows="3" aria-describedby="case-outcomes-info"></textarea>
						</div>
						<div id="case-outcomes-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 200 characters
						</div>
					</div>
					
					<!--Close case-->
					<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" id="close-case-button" data-module="govuk-button">
						Close case
					</button>

				</form>

				<script type="application/javascript" nonce="@nonce">
					$(function () {
						let validator = formValidator($("#close-case-form")[0]);
						validator.addValidator('case-outcomes', [{
							method: function(field) {
								return field.value.trim().length > 0;
							},
							message: 'You have not recorded an outcome'
						},
						{
							method: function(field) {
								return field.value.trim().length <= 200;
							},
							message: 'Your case outcome contains too many characters'
						}]);

						var closeButton = $("#close-case-button");
						var timesClosedButtonClicked = 0;

						closeButton.on("click", function(event){

							if(timesClosedButtonClicked > 0){
								closeButton.prop('disabled', true);
							}

							timesClosedButtonClicked++;
						});
						autoResizer();
					});
				</script>
			}
		</div>
	</div>
</div>