@page "/case/{urn:long}/management/edit_case_aim"
@using ConcernsCaseWork.Constants;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.EditCaseAimPageModel

@{
	ViewData["Title"] = "Edit case aim";
	var nonce = HttpContext.GetNonce();
    ViewData[ViewDataConstants.CancelBackLink] = $"/case/{Model.CaseUrn}/management";
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>
	
	<div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

			@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
            	<partial name="_Error"/>
            }
			else
			{
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l">
                    Edit case aim
                </h1>

				<form asp-page-handler="editCaseAim" method="post" id="case-aim-form" novalidate>

                    <partial name="Components/_TextArea" model="Model.CaseAim" />

					<!--Button group-->
					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-testid="apply">
							Apply
						</button>
						<partial name="_Cancel"/>
					</div>

				</form>
			}
		</div>
	</div>
</div>
