@page "/case/{urn:long}/management/edit-region"
@using ConcernsCaseWork.Constants;
@using ConcernsCaseWork.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConcernsCaseWork.Pages.Case.Management.EditRegionModel

@{
    ViewData["Title"] = "Change region";
    ViewData[ViewDataConstants.CancelBackLink] = $"/case/{Model.CaseUrn}/management";
}

<div class="govuk-width-container">
    <partial name="_BannerError"/>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Change region
            </h1>

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error"/>
            }
            else
            {
                <partial name="_ValidationErrors" />

                <form method="post" id="case-region-form" novalidate>

                    <partial name="Components/_RadioList" model="Model.Region" />

                    <!--Button group-->
                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" data-testid="save-case" class="govuk-button" data-module="govuk-button">
                            Apply
                        </button>
                        <partial name="_Cancel"/>
                    </div>

                </form>
            }
        </div>
    </div>
</div>
