@page "/case/{urn:long}/management/edit_de_escalation_point"
@using ConcernsCaseWork.Constants;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.Management.EditDeEscalationPointPageModel

@{
	ViewData["Title"] = "Edit de-escalation point";
	var nonce = HttpContext.GetNonce();
    ViewData[ViewDataConstants.CancelBackLink] = $"/case/{Model.CaseUrn}/management";
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
            	<partial name="_Error"/>
            }
			else
			{
                <partial name="_ValidationErrors" />

                <h1 class="govuk-heading-l">
                    Edit de-escalation point
                </h1>

				<form asp-page-handler="editDeEscalationPoint" method="post" id="de-escalation-point-form" novalidate>

                    <partial name="Components/_TextArea" model="Model.DeEscalationPoint" />

					<!--Button group-->
					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button" data-module="govuk-button" data-testid="apply">
							Apply
						</button>
						<partial name="_Cancel"/>
					</div>

				</form>
			}
		</div>
	</div>
</div>
