@if (BackPageModel.CanRender(Context.Request.Path.Value)) {
	var cssClass = BackPageModel.IsExtraWidthContainer ? "govuk-extra-width-container" : "govuk-width-container";
	<div class="@cssClass">
		<partial name="_BackLink" />
	</div>
}