@model string

@if (BackPageModel.CanRender(Context.Request.Path.Value)) {
	var nonce = Context.GetNonce();
	<div class="govuk-width-container">
		<a id="back-link-event" class="govuk-back-link" href="#">Back</a>
		<script nonce="@nonce">
			$("#back-link-event").click(function() {
				@Model
			});
		</script>
	</div>
}