@{
	var nonce = Context.GetNonce();
	var label = ViewData["BackButtonLabel"] ?? "Back";
	
	<a id="back-link-event" class="govuk-back-link" href="#">@label</a>
	<script nonce="@nonce">
		$("#back-link-event").click(function() {
			history.back();
		});
	</script>
}