<div id="moj-banner-error" class="govuk-!-display-none">
	<div class="moj-banner__message">
		<span class="moj-banner__assistive">Warning</span>
        <h1>
            Sorry, there is a problem with the service
        </h1>
	</div>
</div>

