<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with case aim
        </span>
    </summary>
    <div class="govuk-details__text">
        Explain what you want to achieve with this case. This could be:
        <ul class="govuk-list govuk-list--bullet">
            <li>supporting the trust to do something</li>
            <li>making sure the trust complies with certain requirements</li>
            <li>seeking assurances that the trust will do something</li>
        </ul>
    </div>
</details>