<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with case notes
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>You don't have to complete this section but can use it to add context or additional information that is not captured elsewhere in the case</p>
        <p>This information will not be included in reports to the minister or senior officials.</p>
    </div>
</details>