@model IList<ConcernsCaseWork.Models.CaseHistoryModel>

@if (Model.Count > 0)
{
	<h3 class="govuk-heading-m">Case history</h3>
	<div class="moj-timeline">
		@foreach (var caseHistory in Model)
		{
			<div class="moj-timeline__item">

				<div class="moj-timeline__header">
					<h2 class="moj-timeline__title">@caseHistory.Title</h2>
				</div>

				<p class="moj-timeline__date">
					<time datetime="@caseHistory.CreatedAt">@caseHistory.Created</time>
				</p>

				<div class="moj-timeline__description">
					<p>@caseHistory.Description</p>
				</div>

			</div>
		}

	</div>
}


