<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with choosing a concern type
        </span>
    </summary>
    <div class="govuk-details__text">
        <b>Governance</b>
        <p>Choose this option to record concerns about:</p>
        <ul>
            <li>how a trust is run</li>
            <li>conflicts of interest</li>
            <li>insufficient challenge at a trust</li>
            <li>failure to comply with the Academy Trust Handbook, admissions, funding agreement or other requirements</li>
        </ul>

        <b>Safeguarding</b>
        <p>Choose this option to record concerns about:</p>
        <ul>
            <li>systemic safeguarding failures at a trust</li>
            <li>failure to provide satisfactory safeguarding assurances</li>
        </ul>

        <p>If you need to add another concern, do this in the next screen</p>
    </div>
</details>