<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with choosing a concern type
        </span>
    </summary>
    <div class="govuk-details__text">
        <b>Governance capability</b>
        <p>Choose this option to record concerns about:</p>
        <ul>
            <li>trustees and management that may not have the skills, knowledge and experience to run the academy trust</li>
            <li>conflicts of interest</li>
            <li>insufficient challenge at a trust</li>
        </ul>

        <b>Non-compliance</b>
        <p>
            Choose this option to record non-financial concerns about a failure to comply with statutory guidance and requirements like:
        </p>
        <ul>
            <li>Academy Trust Handbook</li>
            <li>funding agreement </li>
            <li>articles of association</li>
            <li>Independent School Standards</li>
        </ul>

        <b>Safeguarding non-compliance</b>
        <p>Choose this option to record concerns about:</p>
        <ul>
            <li>systemic safeguarding failures at a trust</li>
            <li>failure to provide satisfactory safeguarding assurances</li>
        </ul>

        <p>If you need to add another concern, do this in the next screen</p>
    </div>
</details>