<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with current status
        </span>
    </summary>
    <div class="govuk-details__text">
        <p>Explain what is currently happening with the case and why this is significant.</p>

        Only include relevant information, including:
        <ul class="govuk-list govuk-list--bullet">
            <li>background information, such as capacity and pupil numbers</li>
            <li>keys dates and milestones for case progress</li>
            <li>what you're doing to manage the case</li>
        </ul>
    </div>
</details>