<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with de-escalation point
        </span>
    </summary>
    <div class="govuk-details__text">
        Explain when you will reduce the risk level in this case and what level you'll reduce it to.
    </div>
</details>