@model ConcernsCaseWork.Models.CaseModel

<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
	<div class="govuk-form-group">
		<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="issue" name="issue" data-testid="issue" rows="3" aria-describedby="issue">@Model.Issue</textarea>
	</div>

	<div id="issue-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
		You can enter up to 2000 characters
	</div>
</div>