@model ConcernsCaseWork.Models.CaseModel

@if (!string.IsNullOrEmpty((string) TempData.Peek("Error.Message")) 
     || Model.TrustDetailsModel is null)
{
	var nonce = Context.GetNonce();
	<div class="govuk-heading-l moj-banner__message">
		<p class="govuk-body">@TempData["Error.Message"]</p>
	</div>
	<script type="application/javascript" nonce="@nonce">
        $(function () {
            showGlobalError();
		});
    </script>
}

