@using ConcernsCaseWork.API.Contracts.Case;
@using ConcernsCaseWork.Utils.Extensions

<div class="moj-filter">

    <div class="moj-filter__header">
        <div class="moj-filter__header-title">
            <h2 class="govuk-heading-m">Filter</h2>
        </div>
    </div>

    <div class="moj-filter__content">
        <div class="moj-filter__options">
            <form method="get" class="form">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Regions
                                </legend>

                                <div class="govuk-checkboxes" style="max-height: 200px; overflow-y: auto;">
                                    @{
                                        var regions = Enum.GetValues(typeof(Region))
                                            .Cast<Region>()
                                            .ToArray();
                                        var selectedRegions = Context.Request.Query["selectedRegions"].ToArray();
                                    }
                                    @foreach (var region in regions)
                                    {
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="region-@((int)region)" name="selectedRegions"
                                                   type="checkbox" value="@((int)region)" 
                                                   @(selectedRegions.Contains(((int)region).ToString()) ? "checked" : "")>
                                            <label class="govuk-label govuk-checkboxes__label" for="region-@((int)region)">
                                                @region.Description()
                                            </label>
                                        </div>
                                    }
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                    Filter options
                                </legend>

                                <div class="govuk-checkboxes" style="max-height: 200px; overflow-y: auto;">
                                    @{
                                        var selectedDummyFilters = Context.Request.Query["dummyFilter"].ToArray();
                                    }
                                    <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="dummy-filter_b"
                                               name="dummyFilter" type="checkbox" value="dummy-option"
                                               @(selectedDummyFilters.Contains("dummy-option") ? "checked" : "")>
                                        <label class="govuk-label govuk-checkboxes__label" for="dummy-filter_b">
                                            Sample filter option
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" data-test-id="submit-button">
                    Apply filters
                </button>
            </form>
        </div>
    </div>

</div>