@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HomePageModel

<div class="govuk-button-group flexalign__right">
	<a class="govuk-button govuk-button--secondary" asp-page="/case/closed" role="button">
    	Closed cases
    </a>
	<a class="govuk-button govuk-button--secondary" asp-page="/trust/index" role="button">
    	Find trust
    </a>
	<a class="govuk-button" asp-page="/case/index" role="button">
		Create case
	</a>
</div>

<!-- Active casework -->
<partial name="_CasesActive" model="Model.CasesActive"/>