<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with issue
        </span>
    </summary>
    <div class="govuk-details__text">
        Briefly explain the main issue. Include:
        <ul class="govuk-list govuk-list--bullet">
            <li>what the issue is</li>
            <li>how the issue was identified</li>
            <li>the risk rating and how it refers to the risk management framework</li>
        </ul>
    </div>
</details>