@using ConcernsCaseWork.Extensions
@model ConcernsCaseWork.Redis.Models.CreateCaseModel

<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Managed By</dt>
	<dd class="govuk-summary-list__value" data-testid="managed-by">
		@Model.Division
		<br />
		@(Model.Division == API.Contracts.Case.Division.SFSO ? Model.Territory?.Description() : "//TODO : Area")
	</dd>
</div>