@using ConcernsCaseWork.Utils.Extensions;
@model ConcernsCaseWork.Redis.Models.CreateCaseModel

<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Managed By</dt>
	<dd class="govuk-summary-list__value" data-testid="managed-by">
		@Model.Division?.Description()
		<br />
        @(Model.Division == API.Contracts.Case.Division.RegionsGroup ? Model.Region?.Description() : Model.Territory?.Description())
	</dd>
</div>