<div class="govuk-character-count govuk-!-margin-top-9" data-module="govuk-character-count" data-maxlength="4000">
	<div class="govuk-form-group">
		<label class="govuk-heading-m" for="next-steps">
			Next steps
		</label>
        <div class="govuk-hint">
            This information can be used in Stage 1 and Stage 2 meetings.
        </div>
		<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="next-steps" data-testid="next-steps" name="next-steps" rows="3" aria-describedby="next-steps"></textarea>
	</div>

	<div id="next-steps-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
		You can enter up to 4000 characters
	</div>

</div>