<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            Help with next steps
        </span>
    </summary>
    <div class="govuk-details__text">
        Explain your future strategy for managing the case. Including:
        <ul class="govuk-list govuk-list--bullet">
            <li>dates for reviews, deadlines or meetings</li>
            <li>anything you expect the trust to do and when you expect this to happen</li>
            <li>case interventions, such as sending an SRMA or issuing warning letters</li>
        </ul>
    </div>
</details>