@model IList<ConcernsCaseWork.Redis.Models.CreateRecordModel>

@if (Model.Any())
{
	<div id="concerns-summary-list" class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Concerns</dt>
		<dd class="govuk-summary-list__value">
            <div class="govuk-grid-row">

                @foreach (var concern in Model)
                {
                    <div class="govuk-!-padding-bottom-1">
                        <span class="govuk-!-padding-right-1 govuk-grid-column-two-thirds" data-testid="concern-type">
                            @concern.GetConcernTypeName()
                        </span>
                        <div class="govuk-!-display-inline govuk-label-wrapper govuk-grid-column-two-third" data-testid="concern-risk-rating">
                            <partial name="_RatingLabel" model="@concern.RatingId" />
                        </div>
                    </div>
                }
                
            </div>
		</dd>
	</div>
}