@model IList<ConcernsCaseWork.Redis.Models.CreateRecordModel>

@if (Model.Any())
{
	<div id="concerns-summary-list" class="govuk-summary-list__row">
		<dt class="govuk-summary-list__key">Concerns</dt>
		<dd class="govuk-summary-list__value">
			<div class="govuk-grid-row">

				@foreach (var concern in Model)
				{
					<div class="govuk-!-padding-bottom-1">
						<span class="govuk-!-padding-right-1 govuk-grid-column-two-thirds">
							@concern.TypeDisplay
						</span>
						<div class="govuk-!-display-inline govuk-label-wrapper govuk-grid-column-two-third">
							@for (var index = 0; index < concern.RagRating.Item2.Count; ++index)
							{
								<span class="govuk-tag ragtag @concern.RagRatingCss.ElementAt(index)">
									@concern.RagRating.Item2.ElementAt(index)
								</span>
							}
						</div>
					</div>
				}

			</div>
		</dd>
	</div>
}