@using ConcernsCaseWork.Constants;

<div class="govuk-hint">
    Use the
    <a target="_blank" href="https://educationgovuk.sharepoint.com/:p:/r/sites/lvedfe00116/_layouts/15/Doc.aspx?sourcedoc=%7B1B6B1225-B682-4B5D-9424-59DBFE57E41A%7D&file=TRUST%20CONCERNS%20RG%20risk_mangement_framework_Nov_2023.pptx" class="govuk-link" rel="noreferrer noopener">
        Risk Management Framework (opens in new tab)
    </a>to assess the concern.
</div>