@using ConcernsCaseWork.Constants;

<div class="govuk-hint">
    Use the
    <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lveefa00003/SitePages/Risk%20management.aspx" class="govuk-link" rel="noreferrer noopener">
        Risk Management Framework (opens in new tab)
    </a>to assess the concern.
</div>