@using ConcernsCaseWork.Constants;

<div class="govuk-hint">
    Use the
    <a target="_blank" href="https://educationgovuk.sharepoint.com/sites/lvewp00030/SitePages/2-Intervention/Governance_Compliance/Trust-Concerns-RG-Risk-Management-Framework.aspx" class="govuk-link" rel="noreferrer noopener">
        Risk Management Framework (opens in new tab)
    </a>to assess the concern.
</div>