@using ConcernsCaseWork.Constants;

<div class="govuk-hint">
    <p>Risk to trust is the total risk rating in a case. It should match the concern risk rating if your case has only one concern.</p>
    <p>The risk to trust rating may be higher than the concerns ratings if your case has more than one concern and the spread of the issues causes greater risk. For example, a case with 3 amber/green concerns might have an amber/red risk to trust rating</p>
</div>