@model ConcernsCaseWork.Models.CaseModel

<!--Risk rating radios-->
<div class="govuk-radios" data-module="govuk-radios">
	
	<div class="govuk-radios__item">
		<input class="govuk-radios__input" id="riskRating" name="riskRating" type="radio" value="Amber-Green"
		       checked="@Model.RagRatingName.Equals("Amber-Green", StringComparison.OrdinalIgnoreCase)">
		<label class="govuk-label govuk-radios__label" for="riskRating">
			<div class="govuk-label-wrapper">
				<span class="govuk-tag ragtag ragtag__amber">Amber</span>
				<span class="govuk-tag ragtag ragtag__green">Green</span>
			</div>
		</label>
	</div>

	<div class="govuk-radios__item">
		<input class="govuk-radios__input" id="riskRating-1" name="riskRating" type="radio" value="Red-Amber"
		       checked="@Model.RagRatingName.Equals("Red-Amber", StringComparison.OrdinalIgnoreCase)">
		<label class="govuk-label govuk-radios__label" for="riskRating-1">
			<div class="govuk-label-wrapper">
				<span class="govuk-tag ragtag ragtag__red">Red</span>
				<span class="govuk-tag ragtag ragtag__amber">Amber</span>
			</div>
		</label>
	</div>

	<div class="govuk-radios__item">
		<input class="govuk-radios__input" id="riskRating-2" name="riskRating" type="radio" value="Red"
		       checked="@Model.RagRatingName.Equals("Red", StringComparison.OrdinalIgnoreCase)">
		<label class="govuk-label govuk-radios__label" for="riskRating-2">
			<div class="govuk-label-wrapper">
				<span class="govuk-tag ragtag ragtag__red">Red</span>
			</div>
		</label>
	</div>

	<div class="govuk-radios__item">
		<input class="govuk-radios__input" id="riskRating-3" name="riskRating" type="radio" value="Red-Plus"
		       checked="@Model.RagRatingName.Equals("Red-Plus", StringComparison.OrdinalIgnoreCase)">
		<label class="govuk-label govuk-radios__label" for="riskRating-3">
			<div class="govuk-label-wrapper">
				<span class="govuk-tag ragtag ragtag__redplus">Red Plus</span>
			</div>
		</label>
	</div>

</div>