@using ConcernsCaseWork.Constants;

<div class="govuk-hint">
    Use your judgement to choose an overall risk rating for the trust in line with the
    <a target="_blank" href="@ResourceConstants.RiskManagementFrameworkLink" class="govuk-link" rel="noreferrer noopener">
        Risk Management Framework (opens in new tab)
    </a>
</div>