@using ConcernsCaseWork.Constants;

<div class="govuk-hint">
    Use your judgement to choose an overall risk rating for the trust in line with the
    <a target="_blank" href="@ResourceConstants.RiskManagementFrameworkLink" class="govuk-link" rel="noreferrer noopener">
        Risk Management Framework (opens in new tab)
    </a>
</div>

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            More information on risk to trust
        </span>
    </summary>
    <div class="govuk-details__text">
        If a trust has multiple issues constituting concerns, the overall risk to trust rating should align with the highest level of concern if appropriate (for example, Amber/Red) in the Risk Management Framework (RMF). In certain circumstances, numerous concerns at a lower level may constitute a higher risk to trust rating. For example, multiple Amber/Green RMF concerns could constitute an overall higher level of risk (likely Amber/Red) to the trust, should the spread of issues cause greater concern.
    </div>
</details>