@using ConcernsCaseWork.Constants;
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<div class="govuk-hint">
    Use the 
    <a target="_blank" href="@Configuration["Links:RiskManagementFramework"]" class="govuk-link" rel="noreferrer noopener">
        Risk Management Framework (opens in new tab)
    </a>to assess the concern.
</div>