@model ConcernsCaseWork.Models.TrustDetailsModel

<div class="govuk-summary-list__row">
	<dt class="govuk-summary-list__key">Trust</dt>
	<dd class="govuk-summary-list__value">
		@Model.GiasData.GroupName (@Model.IfdData.GroupContactAddress.County)
		@* TODO EA if county is empty remove () Maybe change the way we fetch this data, on the root create some public methods to build the data*@
		<br/>
		@Model.GiasData.GroupContactAddress.DisplayAddress
	</dd>
</div>

