@model IList<ConcernsCaseWork.Models.EstablishmentModel>

<table class="govuk-table  govuk-!-margin-top-9">
	<caption class="govuk-table__caption govuk-table__caption--m">
		Other Cases
	</caption>

	<thead class="govuk-table__head">
		<tr class="govuk-table__row tr__large">
			<th class="govuk-table__header govuk-table__cell__cases" scope="col">
				Case ID
			</th>
			<th class="govuk-table__header govuk-table__cell__cases" scope="col">
				Primary concern
			</th>
			<th class="govuk-table__header govuk-table__cell__cases" scope="col">
				Risk rating
			</th>
			<th class="govuk-table__header govuk-table__cell__cases" scope="col">
				Date closed
			</th>
			<th class="govuk-table__header govuk-table__cell__cases" scope="col">
				Status
			</th>
		</tr>
	</thead>

	<tbody class="govuk-table__body">
		
	</tbody>
</table>