@model ConcernsCaseWork.Models.TrustDetailsModel

<div class="govuk-summary-list__row" xmlns="http://www.w3.org/1999/html">
	<dt class="govuk-summary-list__key">Trust</dt>
	<dd class="govuk-summary-list__value">
		@Model.TrustNameCounty
		<br/>
		@Model.DisplayAddress
	</dd>
</div>

