@model List<ConcernsCaseWork.Models.TrustSummaryModel>

@if (Model.Count == 0)
{
	<div class="govuk-form-group">
		<span class="govuk-hint search-results">No results found.</span>
	</div>
}
else
{
	<form role="search" id="trust-form" novalidate>
		<div class="govuk-form-group">
			<select class="govuk-select govuk-grid-column-full" id="trustukprn" name="trustukprn">
				@{
					foreach (var trustModel in Model)
					{
						<option value="@trustModel.UkPrn">
							@trustModel.DisplayName
						</option>
					}
				}
			</select>
		</div>
		<button class="govuk-button" data-module="govuk-button">
			Next step
		</button>
	</form>
	
	<script type="application/javascript">
		$(function () {
			let trustForm = $("#trust-form");		
			const trustValidator = new MOJFrontend.FormValidator(trustForm[0]);
			trustValidator.addValidator('trustukprn', [{
				method: function(field) {
					return field.value.trim().length > 0;
			  	},
			  	message: 'Select a trust'
			}]);
					
			trustForm.submit(function (event) {
				trustValidator.onSubmit(event);
				if (trustValidator.validate()) {
					event.preventDefault();
					
					// Ajax Post Trust
					$.get("case?handler=SelectedTrust", 
						{ selectedTrust: $('#trustukprn').find(":selected").val() })
					.done(function (result) {
					 	window.location.replace(result.redirectUrl);
					})
					.fail(function() {
						showGlobalError();
					});
				} else {
					hideGlobalError();
				}
			});
		});
	</script>
}