@using ConcernsCaseWork.API.Contracts.Configuration;
@using ConcernsCaseWork.Models;
@using NetEscapades.AspNetCore.SecurityHeaders;
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@model TrustOverviewModel
@{
    var nonce = Context.GetNonce();
}

<partial name="_TrustDetails" model="@Model.TrustDetailsModel" />
<partial name="_Academies" model="@Model.TrustDetailsModel.Establishments" />

<h2 class="govuk-heading-m">
    Active and closed cases
</h2>

@if (Model.CanCreateCase)
{
    <div class="govuk-button-group flexalign__right">
        <a class="govuk-button" href="/case/create/division" role="button" data-testid="create-case-button">
            Create a case
        </a>
    </div>
}

<div class="govuk-tabs govuk-!-margin-top-6" data-module="govuk-tabs">

    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#active-cases">
                Active Cases
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#closed-cases">
                Closed Case
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="active-cases">

        <partial name="_TrustActiveCases" model="@Model.ActiveCaseSummaryGroupModel" />

    </div>

    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="closed-cases">
        <partial name="_TrustClosedCases" model="@Model.ClosedCaseSummaryGroupModel" />
    </div>
</div>