@page "/case/closed"
@model ConcernsCaseWork.Pages.Case.ClosedPageModel

@{
    ViewData["Title"] = "Closed cases";
}

<div class="govuk-extra-width-container">
	<partial name="_BannerError"/>
	
	<div class="govuk-!-margin-top-0">

		@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
		{
			<partial name="_Error"/>
		}
		else
		{
			<!-- Closed cases -->
			<table class="govuk-table">
				<caption class="govuk-table__caption govuk-table__caption--m">
					Closed cases
				</caption>

				<thead class="govuk-table__head">
				<tr class="govuk-table__row tr__large">
					<th class="govuk-table__header govuk-table__cell__cases" scope="col">
						Case ID
					</th>
					<th class="govuk-table__header govuk-table__cell__cases govuk-table__header__width_15" scope="col">
						Trust/Academy
					</th>
					<th class="govuk-table__header govuk-table__cell__cases" scope="col">
						Concerns
					</th>
					<th class="govuk-table__header govuk-table__cell__cases" scope="col">
						Date closed
					</th>
				</tr>
				</thead>

				<tbody class="govuk-table__body">
				@if (Model.CasesClosed.Count == 0)
				{
					<tr class="govuk-table__row tr__large">
						<td class="govuk-table__cell__cases govuk-oneline-row">
							<span>There are no cases available.</span>
						</td>
					</tr>
				}
				else
				{
					foreach (var homeModel in Model.CasesClosed)
					{
						<tr class="govuk-table__row tr__large">
							<td class="govuk-table__cell">
								<a class="govuk-link" href="/case/@homeModel.CaseUrn/closed">@homeModel.CaseUrn</a>
							</td>
							<td class="govuk-table__cell">
								@homeModel.TrustNameTitle
							</td>
							<td class="govuk-table__cell">
								@foreach (var record in homeModel.RecordsModel)
								{
									<div class="govuk-!-padding-bottom-1">
										@record.TypeModel.TypeDisplay
									</div>
								}
							</td>
							<td class="govuk-table__cell">
								@homeModel.Closed
							</td>
						</tr>
					}
				}
				</tbody>
			</table>
		}
	</div>
</div>