@page "/case/details/{urn:long?}"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.DetailsPageModel

@{
    var caseExists = Model.CaseUrn.HasValue;

    ViewData["Title"] = caseExists ? "Add Case Details" : "Concern details";
    var buttonName = caseExists ? "Add to case" : "Create this case";
    var heading = caseExists ? "Add to case" : "Create this case";

    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <partial name="_BannerError" />
    <span class="govuk-caption-l">@heading</span>

    <h1 class="govuk-heading-l">Concern details</h1>

    @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
    {
        <partial name="_Error" />
    }
    else
    {
        <partial name="_ValidationErrors" />

        <!-- Trust summary and records -->
        <dl class="govuk-summary-list">
            <partial name="_TrustSummary" model="Model.TrustDetailsModel" />
            <partial name="_RecordsSummary" model="Model.CreateRecordsModel" />
            <partial name="_RatingSummary" model="Model.CreateCaseModel" />
            <partial name="_ManagedBySummary" model="Model.CreateCaseModel" />
        </dl>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <!-- FORM -->
                <form method="post" id="case-details-form" novalidate>

                    <h2 class="govuk-heading-m govuk-!-margin-top-6">Add concern details</h2>
                    <div class="govuk-hint">
                        <p>You only need to enter the issue to create the case. You can add other information now or later. Include information for each concern if the case has multiple concerns.</p>
                        <p>The information in these fields will be used in risk review meetings with senior staff.</p>
                    </div>

                    <partial name="Components/_TextArea" model="Model.Issue" />

                    <partial name="Components/_TextArea" model="Model.CurrentStatus" />

                    <partial name="Components/_TextArea" model="Model.CaseAim" />

                    <partial name="Components/_TextArea" model="Model.DeEscalationPoint" />

                    <partial name="Components/_TextArea" model="Model.NextSteps" />

                    <partial name="Components/_TextArea" model="Model.CaseHistory" />

                    <div class="govuk-button-group">
                        <button id="create-case-button" data-testid="create-case-button" data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button">
                            @buttonName
                        </button>

                        <a data-prevent-double-click="true" class="govuk-link" asp-page="../home" data-module="govuk-button" role="button">
                            Cancel
                        </a>
                    </div>

                </form>
            </div>
        </div>
        <script type="application/javascript" nonce="@nonce">
            $(function () {
                var submitButton = $('#create-case-button')[0];
                disableOnSubmit(submitButton);
            });
        </script>
    }
</div>