@page "/case/details"
@model ConcernsCaseWork.Pages.Case.DetailsPageModel

@{
	ViewData["Title"] = "New Case Details";
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">Create case</span>
			<h1 class="govuk-heading-l">Concern </h1>

			@if (!string.IsNullOrEmpty((string) TempData.Peek("Error.Message")) ||
			     Model.CreateCaseModel is null)
            {
	            <div class="moj-banner__message">
		            <p class="govuk-body">@TempData["Error.Message"]</p>
		        </div>
	            <script type="application/javascript">
	            	$(function () {
	            		showGlobalError();
					});
	            </script>
            }
			else
			{
				<!-- Trust details -->
				<a asp-page="index" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 govuk-!-margin-top-6 float__right">Change trust</a>
				<partial name="_TrustSummary" model="@Model.CreateCaseModel"/>
				
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>
				
				<h2 class="govuk-heading-m govuk-!-margin-top-9">Primary concern type</h2>
				                                                                                                                                                          
				<!-- FORM -->
				<form role="form" method="post" id="case-details-form" novalidate>
					
					<h2 class="govuk-heading-m govuk-!-margin-top-9">Initial case details</h2>
					<div id="initial-details-hint" class="govuk-hint">
						You only need enter the issue at this stage. Further details can be included on the case management page when you have them.
					</div>

					<!-- Q Issue -->
					<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="2000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="issue">
								Issue
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="issue" name="issue" rows="3" aria-describedby="issue"></textarea>
						</div>

						<div id="issue-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>

					<!-- Q Current status -->
					<div class="govuk-character-count govuk-!-margin-top-6" data-module="govuk-character-count" data-maxlength="4000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="current-status">
								Current status <span class="govuk-body">(optional)</span>
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="current-status" name="current-status" rows="3" aria-describedby="case-status"></textarea>
						</div>

						<div id="current-status-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>

					<!-- Q Case aim-->
					<div class="govuk-character-count govuk-!-margin-top-6" data-module="govuk-character-count" data-maxlength="1000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="case-aim">
								Case resolution <span class="govuk-body">(optional)</span>
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="case-aim" name="case-aim" rows="3" aria-describedby="case-aim"></textarea>
						</div>

						<div id="case-aim-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>

					<!-- Q De-escalation point-->
					<div class="govuk-character-count govuk-!-margin-top-6" data-module="govuk-character-count" data-maxlength="1000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="de-escalation-point">
								Case resolution <span class="govuk-body">(optional)</span>
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="de-escalation-point" name="de-escalation-point" rows="3" aria-describedby="de-escalation-point"></textarea>
						</div>

						<div id="de-escalation-point-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>

					<!-- Q Next steps -->
					<div class="govuk-character-count govuk-!-margin-top-6" data-module="govuk-character-count" data-maxlength="4000">
						<div class="govuk-form-group">
							<label class="govuk-label govuk-!-font-weight-bold" for="next-steps">
								Next steps <span class="govuk-body">(optional)</span>
							</label>
							<textarea class="govuk-textarea govuk-js-character-count concern-auto-resize" id="next-steps" name="next-steps" rows="3" aria-describedby="next-steps"></textarea>
						</div>

						<div id="next-steps-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
							You can enter up to 1000 characters
						</div>

					</div>

					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
							Create case
						</button>
						<a class="govuk-link" asp-page="../home">Cancel</a>
					</div>

				</form>
				
				<script type="application/javascript">
					$(function () {
						let validator = formValidator($("#case-details-form")[0]);
						validator.addValidator('issue', [{
							method: function(field) {
								return field.value.trim().length > 0;
							},
							message: 'Issue is required'
						},
						{
							method: function(field) {
								return field.value.trim().length <= 2000;
							},
							message: 'You have exceeded one or more character limits'
						}]);
						validator.addValidator('current-status', [{
							method: function(field) {
								return field.value.trim().length <= 4000;
							},
							message: 'You have exceeded one or more character limits'
						}]);
						validator.addValidator('next-steps', [{
							method: function(field) {
								return field.value.trim().length <= 4000;
							},
							message: 'You have exceeded one or more character limits'
						}]);
						validator.addValidator('de-escalation-point', [{
							method: function(field) {
								return field.value.trim().length <= 1000;
							},
							message: 'You have exceeded one or more character limits'
						}]);
						validator.addValidator('case-aim', [{
							method: function(field) {
								return field.value.trim().length <= 1000;
							},
							message: 'You have exceeded one or more character limits'
						}]);
						
						autoResizer();
					});
				</script>
			}
		</div>
	</div>
</div>