@page "/case/details"
@model ConcernsCaseWork.Pages.Case.DetailsPageModel

@{
	ViewData["Title"] = "New Case Details";
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>
	
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<span class="govuk-caption-l">Create case</span>
			<h1 class="govuk-heading-l">Concern </h1>

			@if (!string.IsNullOrEmpty((string) TempData.Peek("Error.Message")))
            {
	            <partial name="_Error"/>
            }
			else
			{
				<!-- Trust summary -->
				<partial name="_TrustSummary" model="@Model.CreateCaseModel"/>
				
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>
				                                                                                                                                                          
				<!-- FORM -->
				<form role="form" method="post" id="case-details-form" novalidate>
					
					<h2 class="govuk-heading-l govuk-!-margin-top-9">Initial case details</h2>
					<div id="initial-details-hint" class="govuk-hint">
						You only need enter the issue at this stage. Further details can be included on the case management page when you have them.
					</div>

					<!-- Q Issue -->
					<partial name="_Issue"/>

					<!-- Q Current status -->
					<partial name="_CurrentStatus"/>

					<!-- Q Case aim-->
					<partial name="_CaseAim"/>

					<!-- Q De-escalation point-->
					<partial name="_DeEscalationPoint"/>

					<!-- Q Next steps -->
					<partial name="_NextSteps"/>

					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
							Create case
						</button>
						<a class="govuk-link" asp-page="../home">Cancel</a>
					</div>

				</form>
				
				<script type="application/javascript" nonce="@nonce">
					$(function () {
						let validator = formValidator($("#case-details-form")[0]);
						addIssueValidator(validator);
						addCurrentStatusValidator(validator);
						addNextStepsValidator(validator);
						addDeEscalationPointValidator(validator);
						addCaseAimValidator(validator);

						autoResizer();
					});
				</script>
			}
		</div>
	</div>
</div>