@page "/case/details"
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.DetailsPageModel

@{
	ViewData["Title"] = "New Case Details";
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>
	
	<span class="govuk-caption-l">Create case</span>
	<h1 class="govuk-heading-l">Details</h1>

	@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
	{
		<partial name="_Error"/>
	}
	else
	{
		<!-- Trust summary and records -->
		<dl class="govuk-summary-list">
			<partial name="_TrustSummary" model="Model.TrustDetailsModel"/>
			<partial name="_RecordsSummary" model="Model.CreateRecordsModel"/>
			<partial name="_RatingSummary" model="Model.CreateCaseModel"/>
			<partial name="_TerritorySummary" model="Model.CreateCaseModel.Territory"/>
		</dl>

		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

				<!-- FORM -->
				<form role="form" method="post" id="case-details-form" novalidate>

					<h2 class="govuk-heading-l govuk-!-margin-top-6">Concern details</h2>
					<div id="initial-details-hint" class="govuk-hint">
                        You only need to enter the issue to create the case. You can add other information now or later.
					</div>

					<!-- Q Issue -->
					<partial name="_Issue"/>

					<!-- Q Current status -->
					<partial name="_CurrentStatus"/>

					<!-- Q Case aim-->
					<partial name="_CaseAim"/>

					<!-- Q De-escalation point-->
					<partial name="_DeEscalationPoint"/>

					<!-- Q Next steps -->
					<partial name="_NextSteps"/>
					
					<!-- Q Case History -->
                    <partial name="_CaseHistory"/>

					<div class="govuk-button-group">
                        <button id="create-case-button" data-testid="create-case-button" data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button">
							Create case
						</button>
						<a data-prevent-double-click="true" class="govuk-link" asp-page="../home" data-module="govuk-button" role="button">
							Cancel
						</a>
					</div>

				</form>
			</div>
		</div>
		<script type="application/javascript" nonce="@nonce">
			$(function () {
				let validator = formValidator($("#case-details-form")[0]);
				addIssueValidator(validator);
				addCurrentStatusValidator(validator);
				addNextStepsValidator(validator);
				addDeEscalationPointValidator(validator);
				addCaseAimValidator(validator);
				addCaseHistoryValidator(validator);

                var submitButton = $('#create-case-button')[0];
                disableOnSubmitWithJsValidationCheck(validator, submitButton);

				autoResizer();
			});
		</script>
	}
</div>