@page "/case/{id:long}/management/editdirectionoftravel"
@model ConcernsCaseWork.Pages.Case.EditDirectionOfTravelPageModel

@{
	ViewData["Title"] = "Direction of travel";
	var directionOfTravel = Model.CaseModel.DirectionOfTravel ?? string.Empty;
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>
	<partial name="_Error"></partial>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
			<h1 class="govuk-heading-l">
				Change direction of travel
			</h1>

			<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

			<form role="form" asp-page-handler="editDirectionOfTravel" method="post" id="direction-of-travel-form" novalidate>

				<input type="hidden" value="@Model.CaseModel.PreviousUrl" name="url"/>

				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-fieldset__legend govuk-fieldset__legend--s"></legend>
						<partial name="_DirectionOfTravel" model="@directionOfTravel"></partial>
					</fieldset>
				</div>

				<!--Button group-->
				<div class="govuk-button-group">
					<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
						Apply
					</button>
					<partial name="_Cancel"></partial>
				</div>
			</form>
			
		</div>
	</div>
</div>

<script type="application/javascript">
	$(function () {	
		let validator = formValidator($("#direction-of-travel-form")[0]);
		validator.addValidator('direction-of-travel', [{
			method: function(field) {
				return field.value.trim().length > 0;
			},
			message: 'Select direction of travel'
		}]);
	});
</script>