@page "/case/{urn:long}/management/record/{recordUrn}/edit_concerntype"
@model ConcernsCaseWork.Pages.Case.EditConcernTypePageModel

@{
	ViewData["Title"] = "Edit Concern type";
	var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
			<h1 class="govuk-heading-l">Change concern</h1>

			@if (!string.IsNullOrEmpty((string) TempData.Peek("Error.Message")))
            {
                <partial name="_Error"/>
            }
			else
			{
				<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

				<form role="form" asp-page-handler="editConcernType" method="post" id="concern-type-form" novalidate>

					<input type="hidden" value="@Model.CaseModel.PreviousUrl" name="url"/>

					<div class="govuk-form-group">
						<fieldset class="govuk-fieldset">
							<partial name="_ConcernType" model="@Model.TypeModel"/>
						</fieldset>
					</div>

					<!--Button group-->
					<div class="govuk-button-group">
						<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
							Apply
						</button>
						<partial name="_Cancel"/>
					</div>
				</form>
				
				<script type="application/javascript" nonce="@nonce">
					$(function () {
						let validator = formValidator($("#concern-type-form")[0]);
						addConcernTypeValidator(validator);
					});
				</script>
			}
		</div>
	</div>
</div>

