@page "/case/{id:long}/management/editconcerntype"
@model ConcernsCaseWork.Pages.Case.EditConcernTypePageModel

<partial name="_Error"></partial>

<h1 class="govuk-heading-l">
	Change concern
</h1>

<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

<form role="form" asp-page-handler="editConcernType" method="post" id="concern-type-form" novalidate>

	<input type="hidden" value="@Model.PreviousUrl" name="url"/>
	
	<div class="govuk-form-group">
		<fieldset class="govuk-fieldset">
			<partial name="_ConcernType" model="Model.TypesDictionary"></partial>
		</fieldset>
	</div>

	<!--Button group-->
	<div class="govuk-button-group">
		<button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button">
			Apply
		</button>
		<partial name="_Cancel"></partial>
	</div>
</form>

<script type="application/javascript">
	$(function () {	
		formValidatorConcernType($("#concern-type-form")[0]);
	});
</script>

