@page "{handler?}"
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer _localizer
@model ConcernsCaseWork.Pages.Case.IndexModel

@{
	ViewData["Title"] = "New Case";
}

<div class="govuk-width-container">
	<div class="moj-search govuk-form-group">
		<p class="govuk-heading-m">@_localizer["Header"]</p>
		<form role="search" id="search-form">
			<div class="govuk-form-group">
				<label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
					@_localizer["Header:SearchTrust"]
				</label>
				<div id="search-hint" class="govuk-hint moj-search__hint">
					@_localizer["Header:Hint:SearchTrust"]
				</div>

				<span id="search-error" class="">
					<span class="govuk-visually-hidden">Error:</span> Enter search criteria higher than three characters
				</span>
				<input class="govuk-input moj-search__input" id="search" name="search" type="text" aria-describedby="search-hint search-error" placeholder="Search Trusts">
			</div>

			<button class="govuk-button moj-search__button" data-module="govuk-button">
				@_localizer["Button:Search"]
			</button>
		</form>
	</div>
	<div id="trusts-partial-results"></div>
</div>

@section BeforeMain {
	<script>
		$(function () {
			try {
				let showError = function () {
					$(".govuk-form-group").addClass("govuk-form-group--error");
					$("#search").addClass("govuk-input--error");
					$("#search-error").addClass("govuk-error-message");
				};
				let removeError = function () {
            		$(".govuk-form-group").removeClass("govuk-form-group--error");
            		$("#search").removeClass("govuk-input--error");
            		$("#search-error").removeClass("govuk-error-message");
				};
				
				$("#search").keyup(function() {
					if (this.value.length > 2) {
						// disable errors
						removeError();
					}
				});
				
				$("#search-form").submit(function (event) {
					event.preventDefault();
					
					let search = $("#search").val();
					
					// Send request if valid
					if (search !== "" && search.length > 2) {
						removeError();
						
						// Ajax Get Trusts						
						$.get("case/TrustsPartial", { searchQuery: search}).done(function (trustsPartial) {
							$("#trusts-partial-results").html(trustsPartial);
						}).fail(function() {
							console.log("Get error");
				  		});
					}
					else 
					{
						showError();
					}
				});
       		} catch(err) {
				console.log("Search for trusts error...", err)
	  		}
	    });
	</script>
}

