@page "/case/{handler?}"
@model ConcernsCaseWork.Pages.Case.IndexPageModel

@{
	ViewData["Title"] = "New Case";
}

<div class="govuk-width-container">
	<div class="moj-search govuk-grid-row">
		<div class="govuk-grid-column-three-quarters">

			<h1 class="govuk-heading-m">Create case</h1>

			<div tabindex="-1" role="group" id="errorSummary" class="govuk-error-summary moj-hidden" aria-labelledby="error-summary-title" data-module="error-summary"></div>

			<form role="form" id="search-form" novalidate>
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset" data-required data-error="Search cannot be blank" aria-required="true">

						<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
							<h2 class="govuk-fieldset__heading govuk-heading-m">
								Find Trust
							</h2>
						</legend>

						<label class="govuk-hint" for="search" id="outgoing-trust-search-query-hint">
							Search by name, trust reference number or companies house number
						</label>
						<input class="govuk-input form-control" id="search" name="search" type="text" aria-describedby="search-hint search-error" placeholder="Search Trusts">

					</fieldset>
				</div>

				<button class="govuk-button moj-search__button" data-module="govuk-button">
					Search
				</button>
			</form>
		</div>
	</div>
</div>


<div class="govuk-width-container">
	<div class="govuk-heading-m"></div>
	<div class="ccms-loader govuk-!-display-none"></div>
	<div id="trusts-partial-results"></div>
</div>

<script type="application/javascript">
	$(function () {
		let clearResults = function () {
			$("#trusts-partial-results").empty();
		};
		try {
			let searchForm = $("#search-form");
			const validator = new MOJFrontend.FormValidator(searchForm[0]);
			validator.addValidator('search', [{
		  		method: function(field) {
                	return field.value.trim().length > 0;
              	},
              	message: 'Search cannot be blank'
            }, {
              	method: function(field) {
                	return (field.value.length > 2);
              	},
              	message: 'Enter search criteria higher than three characters'
            }]);
			
			searchForm.submit(function (event) {
				validator.onSubmit(event);
				if (validator.validate()) {
					event.preventDefault();
					
					clearResults();
					showLoader();
					
					// Ajax Get Trusts
					$.get("case/TrustsSearchResult", { searchQuery: $("#search").val() })
					.done(function (trustsPartial) {							
						hideGlobalError();
                        hideLoader();
						$("#trusts-partial-results").html(trustsPartial);
					}).fail(function() {
						clearResults();
						showGlobalError();
						hideLoader();
					});
				} else {
					clearResults();
					hideGlobalError()
					hideLoader();
				}
			});
			
       	} catch(err) {
			clearResults();
			showGlobalError();
			hideLoader();
	  	}
    });
</script>

