@page
@model ConcernsCaseWork.Pages.Case.CaseModel

@{
	ViewData["Title"] = "New Case";
}

<div class="govuk-width-container">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-heading-m">Create case</p>
			<div class="govuk-form-group">
				<h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="event-name">
						Find Trust
					</label>
				</h1>
				<div id="event-name-hint" class="govuk-hint">
					Search by name, trust reference number or companies house number
				</div>
				<input class="govuk-input" id="event-name" name="event-name" type="text" aria-describedby="event-name-hint">
			</div>
			<button class="govuk-button" type="submit">Next</button>
		</div>
	</div>
</div>

<script type="application/javascript">
	$(function () {
		try {
			$("#event-name").on('change', function() {
				console.log("Input text changed!");
				console.log(this.value);
			});
	
	
	
			@*$.get('/GetCars/').done(function (cars) {
				
			});*@
        
        
          

          } catch(err) {
        	console.log('Search for trusts error...', err)
          }
    });
</script>


