@page "/case/details/record"
@model ConcernsCaseWork.Pages.Case.Record

@{
	ViewData["Title"] = "Record Case Details";
}

<div class="govuk-width-container">
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">Create case</h1>
			
			<h2 class="govuk-heading-m govuk-!-margin-top-9">Record</h2>

			<!-- FORM -->
			<form role="form" method="post" id="case-record-form" novalidate>
				<!-- Q Record type -->
				<div class="govuk-form-group">
					<fieldset class="govuk-fieldset">
						<legend class="govuk-heading-m govuk-heading-m govuk-!-font-weight-bold">What type of record?</legend>
						
						<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="recordtype" name="recordtype" type="radio" value="srma">
								<label class="govuk-label govuk-radios__label" for="recordtype">
									SRMA
								</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" data-aria-controls="recordtype-whistleblower" id="recordtype-1" name="recordtype" type="radio" value="whistleblower">
								<label class="govuk-label govuk-radios__label" for="recordtype-1">
									Whistleblower
								</label>
							</div>
							<div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="recordtype-whistleblower">
								<div class="govuk-form-group">
									<label class="govuk-label" for="whistleblower-detail">
										Details
									</label>
									<textarea class="govuk-textarea" id="whistleblower-detail" name="whistleblower-detail" rows="6"></textarea>
								</div>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="recordtype-2" name="recordtype" type="radio" value="attach-documentation">
								<label class="govuk-label govuk-radios__label" for="recordtype-2">
									Attach documentation
								</label>
							</div>
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="recordtype-3" name="recordtype" type="radio" value="note">
								<label class="govuk-label govuk-radios__label" for="recordtype-3">
									Note
								</label>
							</div>
						</div>
					</fieldset>
				</div>
			
				
				
				<button class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" data-prevent-double-click="true">
					Create case
				</button>
			</form>
		</div>
	</div>
</div>

<script type="application/javascript">
	$(function () {
		try {
			let caseRecordForm = $("#case-record-form");
			const validator = new MOJFrontend.FormValidator(caseRecordForm[0]);
			validator.addValidator('recordtype', [{
				method: function(field) {
					return field.value.trim().length > 0;
				},
				message: 'Select a record type'
			}, {
				method: function(field) {
					return (field.value.length > 2);
				},
				message: 'Enter search criteria higher than three characters'
			}]);
		
		
			@*var multipleFields=document.querySelectorAll('.auto-resize');
			for(var i=0; i<multipleFields.length; i++){
			multipleFields[i].addEventListener('input',autoResizeHeight,0);
			}
			// auto resize multiple textarea
			function autoResizeHeight(){
			  this.style.height="auto";
			  this.style.height= this.scrollHeight+"px";
			  this.style.borderColor="green";
			}
					
			let currentDate = new Date();
			let dateCreatedDay = currentDate.getDate()
			let dateCreatedMonth = currentDate.getMonth() + 1
			let dateCreatedYear = currentDate.getFullYear()
			document.querySelector("#dateCreatedDay").value = dateCreatedDay;
			document.querySelector("#dateCreatedMonth").value = dateCreatedMonth;
			document.querySelector("#dateCreatedYear").value = dateCreatedYear;*@
			
		} catch(err) {
			showGlobalError();
		}
	});
</script>