@page "~/case/territory/{handler?}"
@using ConcernsCaseWork.API.Contracts.Enums
@using ConcernsCaseWork.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using NetEscapades.AspNetCore.SecurityHeaders
@model ConcernsCaseWork.Pages.Case.SelectTerritoryPageModel

@{
	ViewData["Title"] = "New Case Territory";
	var nonce = HttpContext.GetNonce();
	var errorClass = "govuk-form-group--error";
}

<div class="govuk-width-container">
	<partial name="_BannerError"/>
	
	<span class="govuk-caption-l">Create case</span>
	<h1 class="govuk-heading-l">Territory</h1>

	@if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
	{
		<partial name="_Error" />
	}
	else
	{
		<dl class="govuk-summary-list">
			<partial name="_TrustSummary" model="Model.TrustDetailsModel"/>
			<partial name="_RecordsSummary" model="Model.CreateRecordsModel"/>
			<partial name="_RatingSummary" model="Model.CreateCaseModel"/>
		</dl>
	
		<partial name="_ValidationErrors"/>

		<form role="form" method="post" id="case-territory-form" novalidate>
			
			<div class="govuk-form-group @if (Model.ModelState.ContainsKey("Territory")) { @errorClass; }" >
				<fieldset class="govuk-fieldset">
					<legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
						Which SFSO territory is managing this case?
					</legend>
					@if (!Model.ModelState.IsValid && Model.ModelState.ContainsKey("Territory"))
            								{
						<span class="govuk-error-message" id="territory-error">@string.Join("<br />", @Model.ModelState["Territory"]!.Errors.Select(errs => errs?.ErrorMessage))</span>
					}
					<div class="govuk-radios" data-module="govuk-radios" id="Territory">
						@foreach (TerritoryEnum territory in Enum.GetValues(typeof(TerritoryEnum)))
						{
							<div class="govuk-radios__item">
								<input class="govuk-radios__input" id="territory-@territory" name="territory" type="radio" value="@territory">
								<label class="govuk-label govuk-radios__label" for="territory-@territory">
									@territory.Description()
								</label>
							</div>
						}
					</div>
				</fieldset>
			</div>

			<div class="govuk-button-group">
				<button data-prevent-double-click="true" data-testid="next-button-territory" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button">
					Next step
				</button>
				<a data-prevent-double-click="true" class="govuk-link" asp-page-handler="Cancel" data-module="govuk-button" role="button">
					Cancel
				</a>
			</div>
		</form>
	}

</div>