@page "/case/{urn:long}/management/action/decision/{decisionId:long?}/close"
@model ConcernsCaseWork.Pages.Case.Management.Action.Decision.ClosePageModel;
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using NetEscapades.AspNetCore.SecurityHeaders

@{
    ViewData["Title"] = "Close decision";
    var nonce = HttpContext.GetNonce();
}

<div class="govuk-width-container">
    <back-link url="/case/@RouteData.Values["urn"]/management" label="Back to case overview"></back-link>
</div>

<div class="govuk-width-container">
    <partial name="_BannerError" />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            @if (!string.IsNullOrEmpty((string)TempData.Peek("Error.Message")))
            {
                <partial name="_Error" />
            }
            else
            {
                <partial name="_ValidationErrors" />
                <form method="post" id="add-decision-form" novalidate>

                    <h1 class="govuk-heading-l">
                        <span class="govuk-caption-m">Decision ID @Model.DecisionId</span>
                        Close decision
                    </h1>

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-warning-text__assistive">Warning</span>
                            This decision cannot be reopened. Check the details are correct, especially dates, before closing.
                        </strong>
                    </div>

                    @* Notes *@
                    <partial name="Components/_TextArea" model="Model.Notes" />

                    <p class="govuk-body">Do you still want to close this decision?</p>

                    <div class="govuk-button-group">
                        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-top-6" data-module="govuk-button" role="button" id="add-decision-button" name="action">
                            Close decision
                        </button>
                        <partial name="_Cancel" />
                    </div>
                </form>
            }

        </div>
    </div>
</div>
