{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 120,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "quoteProps": "as-needed"
}
