name: Cypress test linting

on:
  pull_request:
    paths:
      - ConcernsCaseWork/ConcernsCaseWork.CypressTests/**/*
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - name: lint cypress tests
        working-directory: ConcernsCaseWork/ConcernsCaseWork.CypressTests
        run: |
          npm ci
          npm run lint        
