name: Cypress test linting

on:
  pull_request:
    paths:
      - ConcernsCaseWork/ConcernsCaseWork.CypressTests
    types: [opened, synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: lint cypress tests
        working-directory: ConcernsCaseWork/ConcernsCaseWork.CypressTests
        run: |
          npm ci
          npm run lint        
