name: Continuous integration

on:
  pull_request:
  push:
    branches: [main, release/**]

jobs:
  image-build-test:
    name: Image build test
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Build
        run: |
          cp .env.development.local.example .env.development.local
          cp .env.database.example .env.database
          docker-compose -f docker-compose.yml -p app build
